{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-section">
    <div class="row">
        <div class="topic">
            <h2 class="section-title">Product Detail</h2>
        </div>
    </div>
    <div class="row">
        <div class="product-box">
            <div class="col-md-6">
                <p class="user-id">{{ user.id }}</p>
                <p class="user-fullname">{{ user.fullname }}</p>
                <p class="user-username">{{ user.username }}</p>
                <p class="user-email">{{ user.email }}</p>
                <p class="user-userType">{{ user.userType }}</p>
                <p class="user-address_line1">{{ user.address_line1 }}</p>
                <p class="user-address_line2">{{ user.address_line2 }}</p>
                <p class="user-city">{{ user.city }}</p>
                <p class="user-state">{{ user.state }}</p>
                <p class="user-zipcode">{{ user.zip_code }}</p>
                <p class="user-country">{{ user.country }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
