{% extends 'base.html' %}

{% block title %}Payment Options{% endblock %}

{% block content %}
<h2 class="custom-heading">Payment Options</h2>

<div class="payment-option">
    <h2>Pay Online</h2>
    <p>Pay securely using your credit card, debit card, or online payment service.</p>
</div>

<div class="payment-option">
    <h2>Cash on Delivery</h2>
    <p>Pay with cash when your order is delivered to your doorstep.</p>
    <a href="{% url 'thankyou' %}" class="update-btn">Cash On Delivery</a>
</div>
{% endblock %}
